<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        console.log("야호");
    </script>
</head>
<body>
    <div th:fragment="headerFragment">
        <h1>Header Section</h1>
        <div>
            <div>
                <button type="button" onclick="location.href='/'">메인home</button>
            </div>
            <div>

            </div>
        </div>
    </div>
</body>
<script>
    console.log("출력확인");
</script>
</html>